.menu{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    li{
        padding: .5rem 1rem;
        background: #f1f1f1;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease .3s;
    }

    li:hover{
        background: #000;
        color: #fff;
    }

}